<h1>Login into system</h1>
<p class="text-muted"><small>Small hint: abc@gmail.com a12345</small> </p>

<div class="row">
    <div class="col-12">
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input 
                    type="email" 
                    name="email" 
                    class="form-control" 
                    id="inputEmail1" 
                    aria-describedby="emailHelp"
                    placeholder="your@email.com" 
                    required 
                    email 
                    ngModel
                    #email="ngModel"
                >
                    <div 
                        class="text-danger" 
                        *ngIf="email.touched && email.invalid"
                    > Please fill a valid email

                    </div>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="inputPassword"
                    name="password"
                    required
                    minlength="6"
                    password
                    ngModel
                    #password="ngModel"
                    placeholder="your password..."

                >
                <div class="text-danger" *ngIf="password.touched && password.invalid">
                    Please fill a valid password *(atleast 6 characters)
                </div>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="Check" name="Remember" remember ngModel #remember="ngModel">
                <label class="form-check-label" for="Check">remember me</label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
